# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
logs/*

# Environment Files
.env

# Build Output
dist/
build/

# OS and IDE Files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Dependencies for package managers
package-lock.json
yarn.lock

# Testing
coverage/
